.home_header{
    margin: 0 0 10px 0;
    font-family: DM Serif Display, serif;
    color: white;
}
.home_header_size{
    font-size: 65px;

}
.main_div{
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
   
}
.center_column{
    justify-content: center;
    flex-direction: column;
}
.main_sub_head{
    color: white;
    text-align: left;
    padding: 20px;
    display: flex;
}
.main_div_width{
    width: 60%;
}


  @media(max-width: 960px) {
    .home_header_size{
        font-size: 56px !important;
    
    }
    .main_div_width{
        width: 80%  !important;
    }
  }
  @media (min-width: 600px) {
    .home_header_size{
        font-size: 56px !important;
    
    }
    .main_div_width{
        width: 80%  !important;
    }
  
  }
  @media (min-width: 960px) {
    /* .home_header_size{
        font-size: 65px !important;
    
    } */
    .main_div_width{
        width: 80%  !important;
    }
}
@media (min-width: 1280px) {
    .home_header_size{
        font-size: 65px !important;
    
    }
    .responsive-image {
        width: 40%; /* Width for large devices and above */
    }
}